main{
    background-color: rgb(205, 247, 243);
}

section{
    background-color: rgb(252, 237, 245);
    
}

.menu{
    border: 2px solid rgb(150, 3, 248);
}

.menuCont{
    border: 2px solid rgb(241, 12, 203);
}

.borrar-producto {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.titulo{
    font-family: 'Lora', serif;
    color: rgb(170, 14, 79);
    font-size: 35px;
    margin-top: 15px;
}

.subTitulo{
    font-family: 'Lora', serif;
    color: rgb(170, 14, 79);
    font-size: 30px;
    text-align:center;
}

.gridIni{
    display:grid;
    grid-template-columns: repeat(3, 25rem);
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
    justify-content: center;
    align-self:center;
}

.item{
    border: solid rgb(247, 146, 193);
    background-color: rgb(251, 250, 252);
    margin: 15px;
}

.itemT{
    font-family: 'Lora', serif;
    color: rgb(170, 14, 79);
    font-size: 25px;
    text-align: center;
}

.itemP{
    color: rgb(7, 7, 7);
    font-size: 25px;
    text-align: left;
    font-family:'Roboto Slab', serif;
}

.itemImg{
    margin:auto;
    width: 50%;
    height: 50%;
    display:block;
}

.gridIni  div:hover{
    box-shadow: 0 8px 16px rgb(170, 14, 79);
}

.btn{
    width: 100px;
    align-items:center;
    display:block;

}

.img-carrito{
    width:60px;
    height:60px;
    align-content:inherit;
}

.container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    justify-content: space-between;
}

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
  justify-content: space-between;
}

.four.columns                   { width: 30.6666666667%; }
.two.columns                    { width: 13.3333333333%; }

.u-pull-right {
    float: right; 
}

.submenu {
    position: relative;
    list-style: none;
    display: block;
}

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;

    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    /* min-height: 400px; */
    min-width: 500px;
}

.u-full-width {
    width: 100%;
    box-sizing: border-box; 
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; 
}

.row {
    justify-content: space-between;
}


.form{
    background-color:rgb(252, 237, 245) ;
}